/* body {
  height: 100vh;
  justify-content: center;
  align-items: center;
} */
@font-face {
  font-family: 'press_start_2pregular';
  src: url('../fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
       url('../fonts/pressstart2p-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Chalkduster';
  src: url('../fonts/Chalkduster.woff2') format('woff2'),
      url('../fonts/Chalkduster.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.splash-screen{
  background-color: #57c2e0;
}
.pixel-splash{
  background-image: url("../images/892f154a-cdb1-48f3-9182-30c8deffdece.svg");
  background-repeat: repeat space;
  background-size: 80px;
  height:25vh;
  width:20vw;
}
#splash1{
  position: absolute;
  top:0;
  left:0;
}
#splash2{
  position: absolute;
  bottom:0;
  right:0;
}
.pixel-text{
  font-family: 'press_start_2pregular';
  font-weight: bold;
  font-size: 9vh;
  margin-bottom: 0;
}
.painter-text{
  font-family:  'Chalkduster';
  color: white;
  text-align: center;
  font-size: 7.5vh;
  margin-top: 0;
}

.new-label{
  width:30px;
  position: absolute;
  top:-5px;
  left:-5px;
}
.center-text{
  position: absolute;
  top:42vh;
  left: 22vw;
}
.template-page{
  background-color: #f2f4f5;
  scrollbar-width: none;
  scrollbar-color: #f2f4f5;
  overflow-y:scroll;
  overflow-x:hidden;
}

#ad-container-temp{
  height: 17vh;
  width: 100vw;
  background-color: #9013fe !important;
}
a {
  color: inherit;
}
.mode{
  position: relative;
  color:white;
  font-size: 5vh;
  font-weight: bold;
}
.mode>img{
  position: absolute;
  width:13vw;
  height: 13vw;
  top:-10px;
  right:-5px;
}
#mode1{
  background-color: #f5a623;
  box-shadow: 0px 7px 0px 0px rgba(211,144,33,1);
  margin-top: 12vh;
}
#mode2{
  background-color: #4a90e2;
  box-shadow:0px 7px 0px 0px rgba(51,118,195,1);
  margin-bottom: 12vh;
}
.best-time{
  margin: 10px auto;
}

.best-time>p{
  font-size: 4vh;
  font-weight: bold;
  color:#d39021;
  text-align: center;
}
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.grid-page{
  background-color: #333333;
  overflow: hidden;
}
.wrapper {
  justify-content: center;
}

.canvas {
  display: grid;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.template {
  display: grid;
  grid-template-columns: auto auto;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.softkey {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:7vh;
  border: solid 1px #3f93ab;
  background-color: #57c2e0;
  color: white;
}

.box {
  width: 46vw;
  height: 46vw;
  margin: 1.5vw;
  border: 1px solid black;
  background-color: #ffffff;
  position: relative ;
}
.box-overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  width: 46vw;
  height: 46vw;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}
.image{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
  width:30vw;
  height: 30vw;
  background-position: center; 
  background-size: cover;
}

.tick-img{
  position: absolute;
  bottom: 0;
  right:0;
  width:20px;
}
.box:focus {
  border:2px solid red !important;
}

.pixel {
  border: 1px solid rgba(34, 167, 240, 0.25);
}

.colorPixel {
  border: 1px solid rgba(34, 167, 240, 0.25);
  border-radius: 50%;
}

.pixel:focus {
  border: 2px solid red !important;
}

.bottomPicker {
  min-width: 100%;
  height: 12vh;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  scrollbar-color: #333333;
}

.color_bottom {
  min-width: 12vw;
  margin: 0 5px;
  height: 7.5vh;
  border-radius: 2px;
}

.color_bottom:focus {
  border: 2px solid red !important;
}

.space {
  min-width: 5vw;
  min-height: 12vh;
}

.customPicker {
  margin: 10px auto;
  max-width: 35px;
  height: 30px;
  background-color: red;
  border: 2px solid blueviolet;
}

.customPicker:focus {
  box-shadow: inset 0 0 5px #888888;
}

.modal {
  padding: 10px;
}

.modalColor {
  display: grid;
}
.colorPixel:focus{
  border: 2px solid black;
  box-shadow: inset 0 0 5px white;
}
