#appModal {
  position: absolute;
  height: 83vh;
  top: 8vh;
  left: 5%;
  right: 5%;
  padding: 0;
  background-color: #f4f6f4;
}

.clippedHead {
  height: 12vh;
  background-color: #1b196a;
  position: relative;
  color: white;
  z-index: 2;
}

.clippedHeadText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  font-weight: 900;
  padding-top: 14px;
  align-items: center;
  z-index: 10;
}

.clippedHead::after {
  height: 6vh;
  content: "";
  position: absolute;
  background-color: #1b196a;
  bottom: -4vh;
  z-index: 0;
  left: 0;
  right: 0;
  transform: skewY(3deg);
}

.appList {
  height: 100%;
  background-color: #f4f6f4;
}

.list-group {
  height: 60vh;
  margin-top: 8vh;
  padding-left: 3vw;
  padding-right: 1.2vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.imageApp {
  height: 13vh;
  margin: 0;
  margin-bottom: 8px;
}

.list-group-item {
  margin-bottom: 3vh;
  padding: 4vw;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px grey;
}

.appImg>img {
  height: 12vh;
  margin-right: 3vw;
}

.getDownload {
  color: #9013fe;
  font-weight: 900;
  align-items: center;
  display: none;
}

.download {
  height: 8vh;
}

.appCategory {
  margin-bottom: 4px;
  width: 20vw;
  height: 7vh;
  color: white;
  background-color: #9013fe;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appName {
  font-weight: bold;
}

.description {
  display: block;
  color: #afafaf;
  font-weight: bold;
  font-size: 10px;
}

small.des-text {
  margin-top: 4px;
  font-size: 10px;
  font-weight: 800;
  line-height: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-height: 39px;
}

.list-group-item.appActive {
  border: 2px solid #9013fe;
  border-radius: 8px;
}

.list-group-item.appActive .getDownload {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.softkey-app-modal {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7vh;
  border: solid 1px #9013fe;
  background-color: #9013fe;
  color: white;
  z-index: 1000;
}

#softkey-center-app {
  position: absolute;
  left: 35%;
  text-align: center;
}

#softkey-right-app {
  position: absolute;
  right: 0;
  text-align: right;
}
