#appModal {
  position: absolute;
  height: 80vh;
  top: 8vh;
  left: 5%;
  right: 5%;
  padding: 0;
}

.clippedHead {
  height: 12vh;
  background-color: #1b196a;
  position: relative;
  color: white;

  z-index: 2;

}

.clippedHeadText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  font-weight: 900;
  padding-top: 14px;
  align-items: center;
  z-index: 10;

}

.clippedHead::after {
  height: 6vh;
  content: "";
  position: absolute;
  background-color: #1b196a;
  bottom: -4vh;
  z-index: 0;
  left: 0;
  right: 0;
  transform: skewY(3deg);
}

.appList {
  height: 100%;
  background-color: #f4f6f4;
}

.list-group {
  max-height: 66vh;
  margin-bottom: 6vh;
  overflow: auto;
  padding: 8vh 1.5vw 8vh 1.5vw;
  scrollbar-width: none;
}

/* .list-group:after {
  clear: both;
  display: block;
  content: "";
} */

.imageApp {
  height: 13vh;
  margin: 0;
  margin-bottom: 8px;
}

.list-group-item {
  margin-bottom: 3vh;
  padding: 4vw;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px grey;
}

.appImg>img {
  height: 12vh;
  margin-right: 3vw;
}

.getDownload {
  color: #9013fe;
  font-weight: 900;
  align-items: center;
  display: none;
}

.download {
  height: 8vh;
}

.appCategory {
  margin-bottom: 4px;
  width: 20vw;
  height: 7vh;
  color: white;
  background-color: #9013fe;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appName {
  font-weight: bold;
}

.description {
  display: block;
  color: #afafaf;
  font-weight: bold;
  font-size: 10px;
}

small.des-text {
  /* line-height: 0.1;
  letter-spacing: 0.1;
  font-stretch: condensed; */
  margin-top: 4px;
  font-size: 10px;
  font-weight: 800;
  line-height: 13px;
  text-align: justify;
  display: block;
  /* margin: 0;
  padding: 0; */
}

.list-group-item.appActive {
  border: 2px solid #9013fe;
  border-radius: 8px;
}


.getDownload.appActive {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}
